# Logs

logs
**/logs

*.log
**/*.log

.cache/
**/.cache/

node_modules/
**/node_modules/

.DS_Store
**/.DS_Store

build/*
**/build/*


# dependencies
/node_modules
/.pnp
.pnp.js
.env
# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

